// Colors
$orange: #EA6045;
$yellow: #F8CA4D;
$off-white: #F5E5C0;
$teal: #3F5666;
$navy: #2F3440;

$open-sans: 'Open Sans', sans-serif;

$white: #fff;
$grey: #9B9B9B;
$black: #000;

// Margins, padding, etc.
$gap1: 5px;
$gap2: 10px;
$gap3: 15px;
$gap4: 20px;
$gap5: 30px;
$gap6: 50px;
$gap7: 75px;
$gap8: 100px;
