@import "variables";
@import "style";

.welcomeScreen {
  @extend .layer2;
  @extend .fullscreen;
  @extend .bigGrid;

  background-color: $grey;
}

.welcomeLogoHolder {
  @extend .devBorder;
}

.welcomeSignUpHolder {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 66%;
}

#hideLogin {
  width: 66%;

  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);

  font-size: 20px;
  height: 50px;

  @extend .devBorder;
}

.inputField {
  @extend .centeredText;
  
  width: 100%;
  padding: 10px;
  margin-bottom: $gap6;

  font-size: 20px;

  border: none;

  background-color: rgba(255, 255, 255, 0.8);
}

.inputButton {
  width: 100%;
  padding: 10px;

  font-size: 20px;
  border: 1px solid #333;
  background-color: $yellow;
}

.inputHolder {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 66%;
}

#signUpSuccess {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
}

#signUpOK {
  background-color: yellow;
  height: 50px;
  width: 50px;
}
