@import "variables";

.devBorder {
  border: 2px solid black;
}

.devColor1 {
  background-color: red;
}

form, fieldset, body {
  border: none;
  margin: 0;
}

.layer0 {
  z-index: 0;
}

.layer1 {
  z-index: 1;
}

.layer2 {
  z-index: 2;
}

.layer3 {
  z-index: 3;
}

.hidden {
  display: none;
}

.fullscreen {
  position: absolute;
  top:0;
  height: 100vh;
  width: 100vw;
}

.regularBackground {
  background-color: #eee;
}

.centeredBlock {
  margin: 0 auto 0 auto;
}

.centeredText {
  text-align: center;
}

.bigGrid {
  display: grid;
  grid-template-columns: repeat(24, 1fr);
  grid-gap: 10px;
  grid-template-rows: repeat(24, 1fr);
}

.default_window {
  background-color: FloralWhite;
  border: 1px solid #333;
}

#map {
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100vw;
}

.addon-search{
	font-size: 16px;
	width: 5%;
	float: left;
	text-align: center;
	margin: 0px 13px 0px 15px;
}

.search-field{
	border: 0px solid black;
	width: 82%;
	background-color: rgba(255, 255, 255, 0);
	font-size: 16px;
}

input:focus{
	outline: none;
}

.search{
	position: absolute;
	top: 70px;
	left: 10vw;
	padding: 10px 0px 8px 0px;
	width: 80vw;
	background-color: white;
	border: 1px solid rgba(0, 0, 0, 0.2);
	box-shadow: 0px 0px 5px .1px rgba(0, 0, 0, 0.5);
}








